<IfModule mod_rewrite.c>
    
    RewriteEngine On
    
    #Desktop Routes
    RewriteRule ^compliance(/?$) /compliance.php [L]
    RewriteRule ^privacy(/?$) /privacy.php [L]
    RewriteRule ^terms(/?$) /terms.php [L]
    RewriteRule ^industries(/?$) /hedge-funds.php [L]
    RewriteRule ^experts(/?$) /experts.php [L]
    RewriteRule ^industries/corporations(/?$) /corporations.php [L]
    RewriteRule ^industries/hedge-funds(/?$) /hedge-funds.php [L]
    RewriteRule ^industries/private-equity(/?$) /private-equity.php [L]
    RewriteRule ^industries/venture-capital(/?$) /venture-capital.php [L]
    RewriteRule ^industries/professional-service-firms(/?$) /professional-service-firms.php [L]
    RewriteRule ^industries/investment-banking(/?$) /investment-banking.php [L]
    RewriteRule ^industries/law(/?$) /law.php [L]
    RewriteRule ^industries/life-sciences(/?$) /life-sciences.php [L]
    RewriteRule ^industries/start-ups(/?$) /start-ups.php [L]
    
    ErrorDocument 404 /404.php

</IfModule>

# compress text, html, javascript, css, xml:
AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/xml
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE application/xml
AddOutputFilterByType DEFLATE application/xhtml+xml
AddOutputFilterByType DEFLATE application/rss+xml
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/x-javascript

# Or, compress certain file types by extension:
<files *.html>
SetOutputFilter DEFLATE
</files>