//  ==========================================================================
//  Sass Modules for Style
//  ==========================================================================

	a, a:active, a:visited{
		outline: none !important;
		-moz-outline: none !important;
		text-decoration: none !important;
	}
	
	img{ height: auto !important; }
	
	
	
	.full-width{
		float:left;
		position: relative;
		display: block;
		width: 100%;
	}
	
	.float-left{
		float: left;
		position: relative;
		display: block;
	}
	
	.float-right{
		float: right;
		display: block;
		position: relative;
	}
	
	.margin-top-20{
		margin-top: 20px;
	}
	
	.no-margin{
		margin: 10px 0;
		padding: 0;
	}
	
	body, html{
		@extend .full-width;
		height: 100%;
	}
	
	body{
		background: $brand-light-grey;
	}
	
	.text-center{
		text-align: center;
	}
	
	.text-right{
		text-align: right;
	}
	
	.hide{
		@include opacity(0);
	}
	
	.clear-left{ clear: left; }
	
	a, h1, h2, h4{
		-webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
	   	backface-visibility: hidden;
	}
	
	.orange-highlight{
		color: $brand-orange;
	}
	
	.white-highlight{
		color: #fafafa;
	}
	
	.z-high{
		z-index: 77;
	}
	
	.fancybox-skin{
		@include border-radius(0px);
		background: white;
	}
	
	.fancybox-nav{
		width: 50px;
		span{
			visibility: visible;
			height: 58px;
			width: 50px;
		}
		&:hover{
			span{
				opacity: .7;
			}
		}
	}
	
	.fancybox-next span{
		background: image-url('fb-right.jpg') 0px 0px no-repeat !important;
	}
	
	.fancybox-prev span{
		background: image-url('fb-left.jpg') 0px 0px no-repeat !important;
	}
	
	.fancybox-close{
		right: 10px;
		top: 10px;
		width: 36px;
		height: 36px;
		background: image-url('fb-close.jpg') 0px 0px no-repeat;
		&:hover{
			opacity: .6;
		}
	}
	
	.orange-copy{
		color: $brand-orange;
	}
	
	.black-copy{
		color: $brand-medium-grey;
	}

//  ==========================================================================
//  Load Addtl Modules
//  ==========================================================================
	@import 'grids';
	@import 'buttons';
	@import 'sprites';
	@import 'type';
	
//  ==========================================================================
//  Themeatic Styles Below
//  ==========================================================================

//  ==========================================================================
//  Primary Nav
//  ==========================================================================

	.primary-nav{
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100%;
		z-index: 999;
		@include transition-duration(.2s);
		@include transition-property(all);
		&.filled,
		&.standard{
			background: black;
		}
	}
	
	.primary-nav--container{
		@extend .full-width;
		text-align: center;
		padding: 20px;
		@include box-sizing(border-box);
		a{
			color: white;
			font: normal 16px $opensans-regular;
			@include transition-duration(.2s);
			@include transition-property(all);
			&:hover{
				color: $brand-orange;
			}
		}
	}
	
	.primary-nav--brand-logo{
		position: absolute;
		top: 20px;
		left: 20px;
	}
	
	.primary-nav--mobile-toggle{
		display: none;
		visibility: hidden;
	}
	
	.primary-nav--center-menu{
		display: inline-block;
		text-align: center;
		padding: 0;
		margin: -10px 0;
		li{
			position: relative;
			display: inline-block;
			padding: 20px 10px;
			&:hover{
				a{
					color: $brand-orange;
				}
				ul{
					display: block;
					visibility: visible;
				}
			}
			&.active{
				a{
					color: $brand-orange;
				}
			}
		}
		li > ul{
			position: absolute;
			top: 100%;
			left: 0px;
			margin: 0;
			padding: 0;
			background: black;
			border-top: 2px solid $brand-orange;
			display: none;
			visibility: hidden;
			li, a{
				width: 100%;
				padding: 0px;
				display: inline-block;
				color: white !important;
				white-space: nowrap;
				@include box-sizing(border-box);
			}
			li.active{
				a{
					color: $brand-orange !important;
				}
			}
			li > a{
				padding: 10px;
				&:hover{
					background: rgba(white,.1);
					color: $brand-orange !important;
				}
			}
			li:first-child{
				&::after{
					position: absolute;
					left: 0px;
					right: 0px;
					top: -6px;
					margin: 0 auto 0 auto;
					content: '';
					width: 0; 
					height: 0; 
					border-left: 5px solid transparent;
					border-right: 5px solid transparent;					
					border-bottom: 5px solid $brand-orange;
				}
			}
		}
	}
	
	.primary-nav--right-menu{
		position: absolute;
		top: 20px;
		right: 20px;
		padding: 0;
		margin: -10px 0;
		li{
			display: inline-block;
			position: relative;
			padding: 20px 10px;
			a{ font-size: 14px; }
			&:hover{
				a{
					color: $brand-orange;
				}
				ul{
					display: block;
					visibility: visible;
				}
			}
		}
		li > ul{
			position: absolute;
			top: 100%;
			left: 0px;
			margin: 0;
			padding: 0;
			background: black;
			border-top: 2px solid $brand-orange;
			display: none;
			visibility: hidden;
			li, a{
				width: 100%;
				padding: 0px;
				display: inline-block;
				color: white !important;
				white-space: nowrap;
				@include box-sizing(border-box);
			}
			li > a{
				padding: 10px;
				&:hover{
					background: rgba(white,.1);
					color: $brand-orange !important;
				}
			}
			li:first-child{
				&::after{
					position: absolute;
					left: 0px;
					right: 0px;
					top: -6px;
					margin: 0 auto 0 auto;
					content: '';
					width: 0; 
					height: 0; 
					border-left: 5px solid transparent;
					border-right: 5px solid transparent;					
					border-bottom: 5px solid $brand-orange;
				}
			}
			&.left{
				right: 0px;
				left: auto;
				li:first-child{
					&::after{
						right: 30px;
						left: auto;
						margin: 0;
					}
				}
			}
			&.right{
				left: auto;
				right: 0px;
				li:first-child{
					&::after{
						right: 10px;
						left: auto;
						margin: 0;
					}
				}
			}
		}
	}

//  ==========================================================================
//  Homepage Hero Module
//  ==========================================================================

	.hm-hero--full{
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		background: black image-url('hm-hero-background.jpg') center center no-repeat;
		display: table;
		text-align: center;
		overflow: hidden;
		@include background-size(cover);
	}
	
	.hm-hero--standard{
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 360px;
		background: #1c1c1c image-url('page-continent-header.jpg') center center no-repeat;
		display: table;
		text-align: center;
		overflow: hidden;
		@include background-size(contain);
		.hm-hero--center-container{
			padding-top: 60px;
		}
	}
	
	.hm-hero--center-container{
		display: table-cell;
		vertical-align: middle;
		width: 100%;
		height: 100%;
	}
	
	.hm-hero--cta-container{
		.btn{
			margin: 14px 2px;
		}
	}
	
	.hm-hero--arrow-down{
		position: absolute;
		bottom: 0px;
		left: 0;
		right: 0;
		width: 100px;
		height: 45px;
		background: image-url('hm-hero-arrow-dn.png') 0px 0px no-repeat;
		margin: 0 auto 0 auto;
		@include transition-duration(.2s);
		@include transition-property(all);
		@include background-size(cover);
		&:hover{
			opacity: .6;
		}
	}
	
	.hero-back{
		position: absolute;
		top: 110px;
		left: 20px;
		color: white;
		font: normal 15px $opensans-regular;
		@include transition-duration(.2s);
		@include transition-property(all);
		&:hover{
			color: $brand-orange;
		}
	}
	
//  ==========================================================================
//  Mid Section
//  ==========================================================================

	.mid-section--full{
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		display: block;
		z-index: 10;
		overflow: hidden;
	}
	
	.mid-section--center{
		display: table;
		width: 100%;
		height: 100%;
		text-align: center;
		.vertical-center{
			display: table-cell;		
			vertical-align: middle;
		}
	}
	
	.inner-mid-section{
		background: #333333;
		@extend .full-width;
		padding: 45px 60px 45px 60px;
		margin: 20px 0 0 -60px;
		text-align: center;
		.btn{
			vertical-align: middle;
			margin-left: 20px;
		}
	}

//  ==========================================================================
//  Market graph
//  ==========================================================================

	.market-graph{
		@extend .full-width;
		margin: 40px 0;
		padding: 0;
		li{
			@extend .float-left;	
			width: #{(100/7)+'%'};
			a{
				padding: 10px;
				background: $brand-off-white;
				text-align: center;
				min-height: 320px;
				@extend .full-width;
				@include transition-duration(.2s);
				@include transition-property(all);
				@include box-sizing(border-box);
				&:hover{
					background: #f6f6f6;
					.market-graph-plus{
						color: $brand-orange;
					}
				}
			}
			.market-icons{
				margin-top: 50px;
			}
			.market-graph-title{
				padding: 10px 0 60px 0;
				display: inline-block;
			}
			.market-graph-plus{
				width: 100%;
				display: inline-block;
				position: absolute;
				left: 0px;
				right: 0px;
				bottom: 20px;
				text-align: center;
				margin: 0 auto 0 auto;
			}
			.market-graph-title,
			.market-graph-plus{
				color: $brand-medium-grey;
				font:normal 18px $opensans-regular;
				@include transition-duration(.2s);
				@include transition-property(all);
			}
			.market-graph-plus{
				font-size: 26px;
			}
		}
	}
	
	//  ==========================================================================
	//  Market Modals
	//  ==========================================================================
	
		.market-modals{
			position: absolute;
			width: 100%;
			left: 0px;
			right: 0px;
			margin: 0 auto 0 auto;
			padding: 10px 40px;
			background: #fff;
			z-index: 100;
			@include box-sizing(border-box);
			
			
			.h3,
			h3,
			p{
				font-family: $opensans-light;
			}
		}
		
		.marked-modal-title{
			font: normal 46px $opensans-light;
			color: #5d5d5d;
			text-align: center;
			padding: 20px 0;
			.market-icons{
				display: inline-block;
				vertical-align: middle;
			}
		}
		
		.market-modal-link{
			top: 50%;
			position: absolute;
			z-index: 99;
			color: #8f97a0;
			font-size: 80px;
			@include transition-duration(.2s);
			@include transition-property(all);
			&:hover{
				color: $brand-orange;
			}
			&.left{
				left: -70px;
			}
			&.right{
				right: -70px;
			}
		}
		
		.market-modal-close{
			position: absolute;
			right: 0px;
			top: 50px;
			font: normal 17px $opensans-regular;
			text-transform: uppercase;
			color: black;
			z-index: 11;
			@include transition-duration(.2s);
			@include transition-property(all);
			i{
				font-size: 45px;
				vertical-align: middle;
				display: inline-block;
				margin-top: -7px;
				color: #8f97a0;
				@include transition-duration(.2s);
				@include transition-property(all);
			}
			&:hover{
				color: $brand-orange;
				i{
					color: $brand-orange;
				}
			}
		}
	
	//  ==========================================================================
	//  Facilities Graph
	//  ==========================================================================
	.facilities-graph{
		@extend .full-width;
		margin: 0px 0;
		padding: 0;
		li{
			@extend .float-left;	
			width: #{(100/3)+'%'};
			margin: 10px 0;
			padding: 0 10px;
			@include box-sizing(border-box);
			a{
				@extend .full-width;
				padding: 14px 10px;
				border: 2px solid #ececec;
				text-align: left;
				background: #fafafa;
				color: #5d5d5d;
				letter-spacing: 1px;
				font: normal 17px $opensans-regular;
				text-transform: uppercase;
				@include box-sizing(border-box);
				&:hover{
					i{
						color: $brand-orange;
					}
				}
			}
			.icon{
				position: absolute;
				width: 47px;
				right: 0px;
				top: 0px;
				height: 100%;
				background: #ececec;
				text-align: center;
				i{
					vertical-align: middle;
					display: inline-block;
					margin-top: 14px;
					@include transition-duration(.2s);
					@include transition-property(all);
				}
			}
		}
		li > ul{
			position: absolute;
			top: 100%;
			left: 0px;
			margin: 0;
			padding: 0 10px;
			z-index: 9;
			margin-top: -2px;
			width: 100%;
			display: none;
			visibility: hidden;
			@include box-sizing(border-box);
			li{
				width: auto;
				padding: 0 10px;
				margin: 0px;
				background: #fafafa;
				width: 100%;
				border-left: 2px solid #ececec;
				border-right: 2px solid #ececec;
				border-bottom: 2px solid #ececec;
				text-align: left;
				font: normal 18px/22px $opensans-regular;
				color: $brand-orange;
				a{
					border: none;
					display: inline-block;
					padding: 0px;
					background: none;
					text-transform: none;
					color: $brand-orange;
					width: auto;
					float: none;
					text-decoration: underline !important;
				}
			}
		}
		li.open > ul{
			display: block;
			visibility: visible;
		}
	}
	
	//  ==========================================================================
	//  Global Reach Graph
	//  ==========================================================================
	
	.global-reach-graph{
		margin-top: 60px;
		background: image-url('eng-country-bg.jpg') center center no-repeat;
		@include background-size(cover);
		.col{
			padding: 20px;
		}
		.h3{
			margin: 10px 0;
			padding: 0px;
			font-family: $opensans-light;
			i{
				color: $brand-orange;
			}
		}
		p{
			
			font: normal 15px $opensans-regular;
			line-height: 30px;
			margin: 0;
			padding: 0px;
		}
	}
	
	//  ==========================================================================
	//  Simple Numbers
	//  ==========================================================================
	
		.simple-numbers{
			.col{
				padding: 20px;
			}
			.circle-num{
				display: inline-block;
				font: normal 46px sans-serif;
				text-align: center;
				border: 2px solid lighten($brand-medium-grey,40%);
				padding: 20px 30px;
				color: $brand-orange;
				@include border-radius(100px);
			}
			.h3{
				font-family: $opensans-light;
				font-size: 28px;
				padding-bottom: 10px;
				margin: 0;
			}
			p{
				font: normal 15px $opensans-regular;
				color: $brand-medium-grey;
				margin: 0px 0;
				padding: 0px
			}
		}
	
	//  ==========================================================================
	//  Industry Graph
	//  ==========================================================================
	
		.industry-graph{
			@extend .full-width;
			padding: 0px 40px;
			margin: 40px 0 40px 0;
			@include box-sizing(border-box);
			li{
				@extend .float-left;
				padding: 0 10px;
				margin-bottom: 20px;
				a{
					display: block;
					position: relative;
					width: 100%;
					height: 100px;
					text-align: center;
					font: normal 18px $opensans-regular;
					color: white;
					text-transform: uppercase;
					cursor: pointer;
					overflow: hidden;
					@include background-image(linear-gradient(#333333, #4a4a4a));
					@include box-sizing(border-box);
					&::after{
						position: absolute;
						bottom: 7px;
						left: 0px;
						width: 100%;
						height: 15px;
						content: '';
						background: image-url('case-study-after-bg.jpg') 0px 0px repeat-x;
						@include transition-duration(.2s);
						@include transition-property(all);
					}
					&:hover{
						background: $brand-orange;
						color: white;
						&::after{
							bottom: -20px;
						}
					}
				}
				.vertical-center{
					position: absolute;
					display: table;
					top: 0px;
					left: 0px;
					width: 100%;
					height: 100%;
					.center{
						display: table-cell;
						vertical-align: middle;
						height: 100%;
					}
				}
			}
		}
	
	//  ==========================================================================
	//  Success Stories
	//  ==========================================================================
	
		.success-stories{
			@extend .full-width;
			padding: 30px 0 10px 0;
			.flexslider{
				margin: 0;
			}
			.flex-direction-nav,
			.flex-control-nav{
				display: none;
				visibility: hidden;
			}
			.col{
				padding: 0px 20px;
				text-align: center;
				.h2{
					font: normal 28px $opensans-light;
					margin: 0;
					padding: 20px 0 10px 0;
					display: inline-block;
					color: black;
				}
				p{
					display: inline-block;
					padding: 10px 20px;
					margin: 0;
					font: normal 15px/24px $opensans-regular;
					color: black;
					@include box-sizing(border-box);
				}
			}
			.success-heading{
				font: normal 15px $opensans-regular;
				letter-spacing: 1px;
				padding: 0;
				margin: 5px 0;
				text-transform: uppercase;
				@extend .float-left;
			}
			.success-article{
				background: #f2f2f2;
				padding: 0 0 20px 0;
				@include transition-duration(.2s);
				@include transition-property(all);
				@extend .float-left;
				&:hover{
					background: darken(#f2f2f2,10%);
				}
				.btn{
					margin-top: 5px;
					font-size: 11px;
				}
			}
		}
		
		.success-stories-nav{
			padding: 10px 0;
			margin-bottom: -20px;
			a{
				border: 1px solid #777;
				padding: 0 18px;
				font-size: 36px;
				display: inline-block;
				color: #777;
				margin: 5px;
				@include transition-duration(.2s);
				@include transition-property(all);
				@include border-radius(60px);
				&:hover{
					border-color: $brand-orange;
					color: $brand-orange;
				}
			}
		}
	
	//  ==========================================================================
	//  Contact Section
	//  ==========================================================================
	
		.contact-section{
			@extend .full-width;
			text-align: center;
			background: #212121 image-url('contact-form-bg.jpg') center center no-repeat;
			@include background-size(cover);
			.inner-container{
				background: transparent;
			}
			.section-hero--heading{
				margin: 80px 0 0 0;
				font-size: 71px;
			}
			.section-secondary-subheading{
				color: white;
				margin: 20px 0;
				padding: 0px;
				font: normal 26px $opensans-light;
			}
		}
		
		.primary-contact-form{
			display: inline-block;
			width: 500px;
			position: relative;
			padding: 40px 0 0 0;
			input,
			label,
			.label,
			textarea,
			select{
				margin: 5px 0 0 0;
				@extend .full-width;
			}
			input,
			textarea{
				border: 2px solid #5c5656;
				background: rgba(#2d2d2d,.6);
				font: normal 26px $opensans-light;
				padding: 14px 10px;
				color: white;
				@include transition-duration(.2s);
				@include transition-property(all);
				@include box-sizing(border-box);
				&:focus{
					outline:none;
					-moz-outline: none;
					background: rgba(#fa6121, .2);
					border-color: $brand-orange;
				}
				@include input-placeholder {
					color: rgba(#ccc,.5);
				}
			}
			label,
			.label{
				font: normal 26px $opensans-light;
				letter-spacing: 1px;
				color: white;
				text-align: left;
				padding-bottom: 20px;
			}
			
			.hidden-select{
				padding-bottom: 0;
				margin: 0;
				span{
					position: absolute;
					right: 20px;
					top: 52%;
					z-index: 0;
					
				}
				select{
					appearance: none;
					-webkit-appearance: none;
					-moz-appearance: none;
					border: 2px solid #5c5656;
					background: rgba(#2d2d2d,.6);
					font: normal 26px $opensans-light;
					padding: 14px 10px;
					color: rgba(#ccc,.5);
					@include border-radius(0);
					&:focus{
						outline:none;
						-moz-outline: none;
						background: rgba(#fa6121, .2);
						border-color: $brand-orange;
					}
				}
			}
		}
	
	//  ==========================================================================
	//  Footer
	//  ==========================================================================
	
		.primary-footer{
			@extend .full-width;
			background: #242323;
			color: #999999;
			.inner-container{
				background: transparent;
			}
			.upper-footer-row{
				.col{
					padding: 0 20px 0 20px;
				}
			}
			.upper-footer-row,
			.middle-footer-row{
				@extend .full-width;
			}
			
			.middle-footer-row{
				padding: 50px 0 0 0;
			}
			
			p{
				padding: 0;
				margin: 0;
				font: normal 15px/24px $opensans-regular;
			}
			a{
				color: #999;
				@include transition-duration(.2s);
				@include transition-property(all);
				&:hover{
					color: $brand-orange;
				}
			}
			.primary-footer-bottom{
				@extend .full-width;
				background: #121212;
				.inner-container{
					padding: 28px 80px;
				}
			}
			.footer-legal-link{
				display: inline-block;
				padding-left: 100px;
				a{
					text-decoration: underline !important;
				}
			}
		}
		
		//  ==========================================================================
		//  CS Overlays
		//  ==========================================================================
			
			$modalWidth: 800px;
			.cs-overlay{
				padding: 40px 80px;
				width: $modalWidth;
				.cs-overlay-heading{
					@extend .full-width;
					text-align: center;
					font: normal 46px $opensans-light;
					color: #5d5d5d;
				}
				p{
					font: normal 18px/34px $opensans-regular;
					strong{
						font-family: $opensans-semibold;
					}
				}
			}
			
			.market-modal{
				width: $modalWidth;
				h3, .heading{
					font: normal 28px $opensans-light;
					.market-icons{
						vertical-align: middle;
					}
				}
				h4{
					font: normal 22px $opensans-light;
					.market-icons{
						vertical-align: middle;
					}
				}
				h2{
					font: normal 42px $opensans-light;
					.market-icons{
						vertical-align: middle;
					}
				}
				p{
					font: normal 15px/28px $opensans-regular;
					strong{
						font-weight: normal;
						font-family: $opensans-semibold;
					}
				}
				.col{
					padding: 10px 20px 10px 20px;
					&.span_12{
						padding-left: 40px;
						padding-right: 40px;
					}
				}
			}
	
	