//  ==========================================================================
//  Type
//  ==========================================================================

	.section-hero--heading{
		position: relative;
		font: normal 76px $opensans-semibold;
		display: inline-block;
		color: white;
		padding: 0px;
		margin: 0px;
	}
	
	.inner-hero--heading{
		font: normal 28px $opensans-light;
		display: inline-block;
		color: white;
		margin: 0;
		padding: 0;
	}
	
	.section-subheading{
		font: normal 46px/60px $opensans-light;
		color: $brand-medium-grey;
		@extend .full-width;
		@include box-sizing(border-box);
	}
	
	.section-secondary-subheading{
		font: normal 35px $opensans-light;
		color: $brand-medium-grey;
		@extend .full-width;
		&.flat-bottom{
			margin-bottom: 0;
			padding-bottom: 0;
		}
	}
	
	.h3{
		font-family: $opensans-light;
		display: inline-block;
		font-size: 28px;
	}
	
	.content-wrapper{
		.h3{
			margin: 20px 0;
			@extend .full-width;
		}
	}
	
	.standard-p,
	.standard-ul{
		@extend .full-width;
		padding: 20px 0px;
		margin: 0px;
		font: normal 15px/28px $opensans-regular;
		@include box-sizing(border-box);
		li{
			@extend .float-left;
		}
		img{
			display: inline-block;
		}
		a{
			color: $brand-orange;
			&:hover{
				text-decoration: underline !important;
			}
		}
		&.medium{
			font-size: 22px;
			line-height: 28px;
			i{
				font-size: 45px;
				padding-bottom: 20px;
			}
		}
	}
	
	.hm-hero-h2{
		font: normal 28px/34px $opensans-light;
		display: inline-block;
		color: white;
		padding: 30px 0;
		margin: 0px;
		@extend .full-width;
	}
	
	.tri-flare{
		&::after{
			margin-right: -1080px;
			right: 0px;
		}
		&::before{
			margin-left: -1080px;
			left: 0px;
		}
		&::after,
		&::before{
			position: absolute;
			width: 1000px;
			height: 70px;
			background: image-url('heading-tri-flare.png') center center repeat-x;
			top: 20px;
			content: '';
		}
	}
	
	hr{
		@extend .float-left;
		width: 10%;
		left: 50%;
		margin: 0 0 0 -5%;
		border-top: 1px solid $brand-medium-grey;
		padding: 0px;
	}